# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.StirlingLabs.Utilities.Net.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Tyler\Documents\StirlingLabs\Utilities.Net\.idea\.idea.StirlingLabs.Utilities.Net\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
